apiVersion: apps/v1
kind: Deployment # Kubernetes resource kind we are creating
metadata:
  name: k8s-deployment
spec:
  selector:
    matchLabels:
      app: my-app
  replicas: 3 # Number of replicas that will be created for this deployment
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: lakshman386/pet:latest # Image that will be used to containers in the cluster
          imagePullPolicy: Always
          ports:
            - containerPort: 8080 # The port that the container is running on in the cluster


---

apiVersion: v1 # Kubernetes API version
kind: Service # Kubernetes resource kind we are creating
metadata: # Metadata of the resource kind we are creating
  name: my-app-service
spec:
  selector:
    app: my-app
  ports:
    - protocol: "TCP"
      port: 8080 # The port that the service is running on in the cluster
      targetPort: 8080 # The port exposed by the service
  type: NodePort # type of the service.
